<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <title>Patient Details</title>
</head>
<body>
    <div class="container">
        <div class="headerpatient">
            <!-----------------------------------Back Button------------------------------------->
            <a href="../"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg></a>
          <!-----------------------------------Header ------------------------------------->
          <h1>Patient Details</h1> There are: <b>{{counter[0]}}</b> registers  about this patient<br><a href="\detail\{{user[0]}}"><button type="button" class="btn btn-outline-secondary">Details</button></a></div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Patient:  {{user[1]}} {{user[2]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Unique ID: {{user[0]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Birth Date: {{user[3]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Race: {{user[4]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Mothers Name: {{user[6]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Ethnicity: {{user[5]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Birthsex: {{user[7]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Gender: {{user[8]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Birth City: {{user[9]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Birth State: {{user[10]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Birth Country: {{user[11]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Disability adjusted life years: {{user[12]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Quality adjusted life years: {{user[13]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Social Security Number: {{user[15]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Driver license: {{user[16]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Passport number: {{user[17]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Phone_number: {{user[18]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Address line: {{user[19]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Address city: {{user[20]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">Address country: {{user[21]}}</div>
    </div>  
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3 border bg-light">Marital_status: {{user[22]}}</div>
    </div>
    <div class="col">
        <div class="p-3 border bg-light">language: {{user[24]}}</div>
    </div>  
    </div>
    

    </div>
</body>
</html>